@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    font-size: 40px;
}


body {
    margin: 0;
}

h1 {
    font-size: 140px;
    text-align: center;
    background: -webkit-linear-gradient(rgb(211, 13, 230), rgb(147, 236, 217));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    color:white;
}